{% extends 'index.html' %} {% block titulo %} Profesora virtual | Listado de
permisos {% endblock titulo %}<!--  -->
{% block body %}<!--  -->

{% if rol %}
<div class="card">
  <div class="card-header">
    <strong class="card-title">Roles del sistema</strong>
  </div>
  <div class="table-stats order-table ov-h">
    <table class="table datatable text-center text-dark">
      <thead>
        <tr class="text-center text-dark">
          <th>ID</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for r in roles %}
        <tr>
          <td>{{ r.id_rol }}</td>
          <td>{{ r.rol_nombre }}</td>
          <td>
            <a href="#" class="btn btn-primary">Editar</a>
            <a
              href="{% url 'seguridad:eliminar_permiso' p.id_permiso %}"
              class="btn btn-danger"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen permisos registrados</h1>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      <strong>Formulario de Registro</strong>
    </div>
    <div class="card-body">
      {{ form.as_p }}
    </div>
  </div>
  <button type="submit" class="btn btn-success">Registrar</button>
</form>

{% endblock body %} {% block extrajs %}

<script type="text/javascript">
  var $ = jQuery.noConflict();
  $(document).ready(function() {
    $("#id_rol").toggleClass("js-example-basic-single");
    $("#id_menu").toggleClass("js-example-basic-multiple");
    $(".js-example-basic-single").select2();
    $(".js-example-basic-multiple").select2({
      width: "resolve", // need to override the changed default
      placeholder: "Selecciona una opcion "
    });
  });
</script>

{% endblock extrajs %}
