{% load staticfiles %}

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %}Bienvenido al aula virtual {% endblock titulo %}</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/lib/datatable/dataTables.bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel bg-dark">
        <nav class="navbar navbar-expand-sm navbar-default bg-dark">
            <div id="main-menu" class="main-menu bg-dark">
                <ul class="nav navbar-nav bg-dark">
                    <li class="active bg-dark bg-dark" >
                        <a href="{% url 'seguridad:inicio' %}" class="text-light"><i class="menu-icon fa fa-laptop text-light"></i>Inicio</a>
                    </li>

                    
                    {% for p in lista_padre %}
                    <li class="menu-item-has-children dropdown text-light">
                       <a href="#" class="dropdown-toggle text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-folder text-light"></i>{{p.nombre}}</a>
                       
                        {% if permisos %}
                            <ul class="sub-menu children dropdown-menu bg-dark">   
                                {% for per in permisos.menu.all %}
                                    {% if per.menu_padre.id_menu == p.id_menu %}
                                        <li><i class="fa fa-folder-open-o text-light"></i><a href="{% url per.url %}" class="text-light">{{per.nombre}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                            
                           
                    </li>    
                    {% endfor %}

                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel bg-dark">
        <!-- Header-->
        <header id="header" class="header bg-dark">
            <div class="top-left bg-dark">
                <div class="navbar-header bg-dark">
                    <a class="navbar-brand" href="#"><img style="width: 120%; height:80%;" src="{% static 'images/logo-sin-fondo.jpeg' %}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu bg-dark">
                    <div class="user-area dropdown float-right bg-dark">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../media/{{datos_usuario.id_persona.foto}}" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu bg-dark">
                            <a class="nav-link text-light" href="{% url 'seguridad:salir' %}"><i class="fa fa-power -off"></i>CERRAR SESION</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                      {% block body %}
                            <div class="card shadow">
                                <div class="card-body bg-dark">
                                    <div class="card">
                                        <img class="card-img-top" style="width: 95%; height:300px;" src="{% static 'images/logo-profesora.jpeg' %}" alt="Card image cap">
                                        <div class="card-body">
                                        <h3 class="card-title mb-4">Guia de usuario</h3>
                                        {% if datos_usuario.rol_usuario.id_rol == 4 %}
                                            <p class="card-text"><strong>Pasos para realizar tu evaluacion:</strong></p>
                                            <p class="card-text">
                                                <p class="card-text"> 1.-Click en'Estudiantes'.</p>
                                                <p class="card-text"> 2.-Click en 'Realizar examen'.</p>
                                                <p class="card-text"> 3.-Se mostrara una tabla con una lista de examenes asignados a tu curso.</p>
                                                <p class="card-text"> 4.- Da click en el boton 'Realizar examen' que quieras realizar.</p>
                                                <p class="card-text"> 5.- Se mostrar una pantalla con las preguntas del examen seleccionado.</p>
                                                <p class="card-text"> SUERTE!!!!</p>
                                            </p>
                                        {% endif %}

                                        {% if datos_usuario.rol_usuario.id_rol == 3 %}
                                            <p class="card-text"><strong>Pasos para crear tu evaluacion:</strong></p>
                                            <p class="card-text">
                                                <p class="card-text"> 1.-Click en 'Examenes'.</p>
                                                <p class="card-text"> 2.-Click en 'Gestion de opciones' y crea diferentes opciones. Crea opciones correctas e incorrecta para utilizar en tus preguntas</p>
                                               <p class="card-text"> 3.-Click en 'Gestion de examenes' y crea direfentes examenes.</p>
                                                <p class="card-text"> 4.-Click en 'Gestion de preguntas' y crea direfentes preguntas. <strong>Cuidado!! el examen debe tener mas de 10 preguntas para validar sobre el puntaje; caso contrario,no calificara sobre la nota completa.</strong></p>
                                                <p class="card-text"> 5.- En 'Seccion profesor' esta la opcion de asignar examen donde podras enviar tu examen creado a uno o varios cursos.</p>
                                                <p class="card-text"> 6.- En 'Gestion estudiante' podras crear usuarios de tipo estudiante los cuales seran los que realizen los examenes que hayas creado. previamente anda a Configutacion y gestion persona y agrega los datos personales de ese alumno</p>
                                                <p class="card-text"> <strong>Si nesecitas crear una materia para ese examen ve a seccion profesor en la opcion materias y crea una materia especifica para tu examen(ejem: Matematicas,Lenguaje.)</strong></p>
                                            </p>
                                        {% endif %}

                                        {% if datos_usuario.rol_usuario.id_rol == 2 %}
                                        <p class="card-text"><strong>Pasos para crear usuarios:</strong></p>
                                            <p class="card-text">
                                                <p class="card-text"> 1.-Click en 'Configuraciones'.</p>
                                                <p class="card-text"> 2.-En la opcion 'Gestion de personas' podras crear una persona, asi como editarlo o eliminarlo del sistema.</p>
                                               <p class="card-text"> 3.-En la opcion 'Gestion de usuarios' crea usuarios que puedan ingresar al sistema.Debe estar creado la persona previamente</p>
                                                <p class="card-text"> 4.--En la opcion 'Gestion de permisos', podras asignar acceso a un rol de entrar en los diferentes menu. <strong>Cuidado!! No es recomendable modificar esta seccion ya que estan configurados correctamente los permisos. los siguientes menus no deben ser seleccionados(Configuraciones,Seccion profesor,Estudiantes,examenes).</strong></p>
                                            </p>

                                        <hr style="background-color: black;">
                                        <p class="card-text"><strong>Pasos para crear tu evaluacion:</strong></p>
                                            <p class="card-text">
                                                <p class="card-text"> 1.-Click en 'Examenes'.</p>
                                                <p class="card-text"> 2.-Click en 'Gestion de opciones' y crea diferentes opciones. Crea opciones correctas e incorrecta para utilizar en tus preguntas</p>
                                               <p class="card-text"> 3.-Click en 'Gestion de examenes' y crea direfentes examenes.</p>
                                                <p class="card-text"> 4.-Click en 'Gestion de preguntas' y crea direfentes preguntas. <strong>Cuidado!! el examen debe tener mas de 10 preguntas para validar sobre el puntaje; caso contrario,no calificara sobre la nota completa.</strong></p>
                                                <p class="card-text"> 5.- En 'Seccion profesor' esta la opcion de asignar examen donde podras enviar tu examen creado a uno o varios cursos.</p>
                                                <p class="card-text"> 6.- En 'Gestion estudiante' podras crear usuarios de tipo estudiante los cuales seran los que realizen los examenes que hayas creado. previamente anda a Configutacion y gestion persona y agrega los datos personales de ese alumno</p>
                                                <p class="card-text"> <strong>Si nesecitas crear una materia para ese examen ve a seccion profesor en la opcion materias y crea una materia especifica para tu examen(ejem: Matematicas,Lenguaje.)</strong></p>
                                            </p>
                                        {% endif %}
                                        
                                        </div>
                                    </div>
                                </div>
                        </div>
                      {% endblock body %}
                </div>
            </div>
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer bg-dark">
            <div class="footer-inner bg-dark">
                <div class="row">
                    <div class="col-sm-12 text-right text-light h6">
                        Diseñado por: Aquino Mite Karen, Calle Bayona Jean, Castillo Charcopa Jeremy, Diaz Ortiz Derek, Zambrano Quimi Yelena.
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatables-init.js' %}"></script>
    <script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

        <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
          $('.subtitle').toggleClass('text-light');
        });
        </script>





    
    {% block extrajs %}
        
    {% endblock extrajs %}
        

</body>
</html>
