{% extends 'index.html' %} {% block titulo %} Biblioteca.dev | confirmación de
Eliminación {% endblock titulo %} {% block body %} {% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Advertencia: </strong> {{ error }}
</div>
{% endif %}
<form
  method="post"
  action="{% url 'seguridad:eliminar_permiso' permiso.id_permiso %}"
>
  {% csrf_token %}
  <p class="text-danger h4"><strong>¿Desea eliminar este permiso?</strong></p>
  <hr style="background-color: black;" />
  <label>Rol de este permiso:</label>
  <br /><label>{{permiso.rol.rol_nombre}}</label>
  <hr style="background-color: black;" />
  <label>Menus de este permiso:</label>
  <br />
  {% for m in permiso.menu.all %}
  <label>{{m.nombre}}</label><br />
  {% endfor %}
  <hr style="background-color: black;" />

  <button type="submit" class="btn btn-danger">Confirmar</button>
  <a class="btn btn-success text-light" href="{% url 'seguridad:permisos' %}"
    >Cancelar</a
  >
</form>

{% endblock body %}
