{% extends 'index.html' %} {% load crispy_forms_tags %}
<!--               -->{% block titulo %} Profesora virtual | Listado de permisos
{% endblock titulo %}<!--  -->
{% block body %}<!--  -->

<a
  href="{% url 'seguridad:agregar_permiso' %}"
  class="btn btn-primary text-light"
  >Agregar nuevo permiso</a
>

{% if per %}
<div class="card">
  <div class="card-header">
    <strong class="card-title">Permisos</strong>
  </div>
  <div class="table-stats order-table ov-h">
    <table class="table datatable text-center text-dark">
      <thead>
        <tr class="text-center text-dark">
          <th>ID</th>
          <th>Rol</th>
          <th>Accesos a estos menus</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in per %}
        <tr>
          <td>{{ p.id_permiso }}</td>
          <td>{{ p.rol.rol_nombre }}</td>
          <td>
            {% for m in p.menu.all %}
            <li>{{ m.nombre }}</li>
            {% endfor %}
          </td>
          <td>
            <a
              href="{% url 'seguridad:editar_permiso' p.id_permiso %}"
              class="btn btn-primary"
              >Editar</a
            >
            <a
              href="{% url 'seguridad:eliminar_permiso' p.id_permiso %}"
              class="btn btn-danger"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen permisos registrados</h1>
{% endif %} {% endblock body %}
