{% extends 'index.html' %} {% load crispy_forms_tags %}
<!--               -->{% block titulo %} Profesora virtual | Listado de anexos
{% endblock titulo %}<!--  -->
{% block body %}<!--  -->

<a
  href="{% url 'evaluacion:agregar_anexos' %}"
  class="btn btn-primary text-light"
  >Agregar nuevo anexo</a
>

{% if lst_anexos %}

            <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Asignacion | Anexos</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Examen</th>
                                            <th>Nota Referencial</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in lst_anexos %}
                                        <tr>
                                            <td>{{c.id_anexo}}</td>
                                            <td>{{c.examen}}</td>
                                            <td>{{c.nota_referencial}}</td>
                                          <td>
            <a href="{% url 'evaluacion:edit_anexos' c.id_anexo %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'evaluacion:eliminar_anexos' c.id_anexo %}" class="btn btn-danger">Eliminar</a>
          </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
            </div>
{% else %}
<h1>No existen Cursos registrados</h1>



{% endif %} {% endblock body %}


